html{

    height: 100vh;

}
body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */

    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */

    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text'*/

    user-select: none;   

    background-color: white;

    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;

}

body::-webkit-scrollbar {display:none;}
@font-face {
    
    font-family: pixel;

    src: url(babyblocks/baby\ blocks.ttf);
}

@font-face {
    
    font-family: silk;

    src: url(silkscreen/slkscr.ttf);
}

.view:not(div#top-bar){

    margin-top: 5%;
}

.view{

    z-index: 1;
}

.no-scroll{

    overflow: hidden;
}

.overlay{

    overflow-y: scroll;
}

.user-function-button{

    background-color: rgb(247, 194, 68);

    margin-left: 5%;

    border-radius: 5px;

    color: black;
}

.user-function-button p,i{


    color: inherit;

    text-align: center;

    margin-left: auto;

    margin-right: auto;


}

.user-function-button p{

    margin-top: 15%;

    
}




input[type=text],input[type=number],input[type=tel],input[type=email], textarea{

    caret-color: rgb(247, 194, 68);

    background-color: white !important;

    border: none;

    padding: 10px 10px; 
    
    line-height: 28px;

    width: 100%;

    color: gray;
    

}

/*lens icon*/
#search-bar:nth-child(1) i{

    color: white;

    text-align: center;

    vertical-align:bottom;

}

input:focus {

    outline:none;

}

textarea:focus{

    outline: none;
}

.search-button{

    border: none;

    color: rgb(247, 194, 68);

    margin-top: 12%;

    text-align: center;
}

.custom-file-upload{

    width: 100%;

    height: 10%;

    background-color: white ;

    border: 1px solid rgb(201, 195, 195);

    border-radius: 10px;

    
}

.custom-file-upload i, .custom-file-upload p{

    color: gray !important;

    font-style: normal;
}
hr{

    background-color: rgb(201, 195, 195) !important;
}

#post-image i {

    color: gray !important;
}

ul{

    background-color: white;

    border-radius: 0px 0px 5px 5px;

    display: table-row;

    text-align: center;

    border-collapse: collapse;
    
}
.list-group-item{

    background-color: white;

    color: gray;

    border: none;

}


.button{

    border: none;

    background-color: rgb(247, 194, 68);

    width: 40%;

    border-radius: 6px;

    height: 8%;

    margin-left: auto;

    margin-right: auto;
}
.button p{

    margin-top: 10%;

    color: black;
}

select{

    background-color: white;

}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  #result-list{

    border: none;

    outline: none;
  }