#full-screen-post-username, .reply-username{

    color: rgb(125, 121, 121);
    
    font-weight: bold;
}

#full-screen-post-date{

    text-align: center;

    color: lightgray;    
}

#full-screen-post-title{

    text-align: center;
}

/*reply container*/
.reply{

    width: 100% !important;

    border-bottom: 1px solid rgb(201, 195, 195);

    /* border-top: 1px solid rgb(201, 195, 195); */

    margin-left: auto;

    margin-right: auto;




}
.reply i{

    margin-bottom: 5%;

    color: gray;
}

.upvoted-reply i{ 

    color: rgb(247, 194, 68) !important;
}

#full-screen-post-content{

    width: 100%;
    
    margin-left: auto;
    
    margin-right: auto;
    
    background-color: white;

    border-radius: 5px;

    margin-top: 5%;

    /* box-shadow: 0px 0px 10px 0px lightgray; */

    border: 1px solid lightgray;
}

.reply-text,.reply-username, .reply i{

    float: left;
}

.reply-text{

    float: left;

    color: black;

    font-style: normal;
}

.reply-username{

    color: gray;

    font-style: oblique;

    font-size: 13px;
}
#reply-container{


/*     border: 1px solid rgb(201, 195, 195);
 */


    -webkit-backdrop-filter: blur(10px);

    backdrop-filter: blur(10px);

    width: 95%;

    margin-left: auto;

    margin-right: auto;

    color: lightgray;

    border-radius: 5px;

    /* box-shadow: 0px 0px 10px 0px lightgray;; */

    height: auto;

}

#reply-container,#reply-container input, #reply-container button{

    outline: none;

    border: none;

    background-color: rgb(232, 232, 232) !important;

    /* -webkit-backdrop-filter: blur(10px);

    backdrop-filter: blur(10px); */
}

#reply-container button{

    

    color: rgb(247, 194, 68);

    display: none;

    outline: none;
}



.reply:last-child{

    margin-bottom: calc(10% + 40px) !important;
}

#reply-input-box{

    width: 100%;

    background-color: red !important;
}
